nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.5em 2em;
}

nav a:hover {
  background: #666;
  transition: .5s;
}

body{
  background-image: url(ziplining.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: center;
}

header {
  padding: 2em;
}

h1{
  text-align: center;
}

.container{
  width: 80%;
  background-color: white;
  /* opacity: 0.9; */
  margin: auto
}

.profile{
  display: flex;
  justify-content: space-evenly;
  padding: 3em;
  width: 80%;
}

.about_me{
 text-align: center;
}

.about_me p {
  text-align: center;
  width: 80%;
  margin-left: 10%;
  margin-top: 4rem;
  font-size: large;
}

.profile_headshot{
  height: auto;
  max-width: 225%;
  box-shadow: 10px 10px 14px -3px rgba(0,0,0,0.74);
  -webkit-box-shadow: 10px 10px 14px -3px rgba(0,0,0,0.74);
  -moz-box-shadow: 10px 10px 14px -3px rgba(0,0,0,0.74);
}

.projects_title{
  text-align: center;
  margin-top: 2rem;
}

.projects{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.projects_figure{
  text-align: center;
}

.projects_image{
  height: auto;
  max-width: 75%;
  box-shadow: 10px 11px 8px -6px rgba(0,0,0,0.37);
  -webkit-box-shadow: 10px 11px 8px -6px rgba(0,0,0,0.37);
  -moz-box-shadow: 10px 11px 8px -6px rgba(0,0,0,0.37);
}

.projects p{
  text-align: center;
  width: 75%;
  margin-left: 12%;
  
}

.projects h2 {
  margin-top: 2rem;
  text-align: center;

}

h3{
  text-align: center;
}

.contact_me{
  margin-top: 2rem;
  text-align: center;
}

footer{
  padding-left: 1em;
}


@media only screen and (max-width: 767px) {
  .profile {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10%;
  }

  .profile_headshot{
    height: auto;
    width: 100%;
  }

  .projects {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  footer{
    padding-left: 0rem;
    text-align: center;
  }
}
